{% extends 'base.html.twig' %}

{% block title %}Client panel{% endblock %}

{% block body %}

    {% include 'account/_partial/account_menu.html.twig' %}

    <div class="row gutters-sm my-2">
        {# USER #}
        <div class="col-md-6">
            {% include 'account/_partial/user_information.html.twig' %}
        </div>
        {# CAR #}
        <div class="col-sm-6 mb-3">
            {% if car is not empty %}
                {% include 'account/_partial/car.html.twig' %}
            {% endif %}
        </div>
    </div>

    <div class="row gutters-sm my-2">
        {# MY JOURNEYS #}
        {% if user_journeys %}
            {% include 'account/_partial/my_journeys.html.twig' %}
        {% endif %}

        {# JOURNEYS AS PARTICIPANT #}
        {% if user_as_participant %}
            {% include 'account/_partial/journey_as_participant.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
