{% extends 'base.html.twig' %}

{% block title %}Wsiz Car!{% endblock %}

{% block body %}
    {% set backgroundimg_banner1 =  asset('build/carbanner.svg') %}
    <section id="main_banner" class="fullwidth banner1" style="background-image: url({{ backgroundimg_banner1 }})">
        <div class="banner1__wrapper">
            <div class="banner1__wrapper__text">
                <h1>Traveling never has been better</br>than together!</h1>
            </div>
        </div>
    </section>
{% endblock %}

