<div class="row">
    <div class="col-md-6">
        {% if car is empty %}
        <a href="{{ path('account_add_car') }}" class="btn btn-primary" role="button">Add Car</a>
        {% endif %}
    </div>
    <div class="col-md-6 justify-content-end">
        <a href="{{ path('account_delete') }}" class="btn btn-danger" role="button">Delete account</a>
    </div>
</div>