<div class="card">

    <div class="card-body">
        <h6 class="d-flex align-items-center mb-3">CAR</h6>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">Model</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ car.model }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">Car type</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ car.type }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">Color</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                <span style="background-color: {{ car.color }}; height: 20px; width: 50%; display: block"></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">Seats</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ car.seats }}
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-secondary" href="{{ url('account_edit_car', {"id": car.id}) }}">Edit</a>
            <a type="button" class="btn btn-danger" href="{{ url('account_delete_car', {"id": car.id}) }}">Delete</a>
        </div>
    </div>
</div>