<div class="col-sm-12 mb-3">
    <div class="card">
        <div class="card-body">
            <h2>Participant in</h2>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Description</th>
                    <th scope="col">Departure</th>
                    <th scope="col">Arrival</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Person limit</th>
                    <th scope="col">Seats left</th>
                    <th scope="col">Contribution</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for journey in user_as_participant %}
                    <tr>
                        <th scope="row">{{ journey.id }}</th>
                        <td>{{ journey.owner.username }}</td>
                        <td>{{ journey.description[:25] }}...</td>
                        <td style="width:20%">{{ journey.departureTime | date("Y-m-d H:i:s") }}</td>
                        <td style="width:20%">{{ journey.arrivalTime | date("Y-m-d H:i:s") }}</td>
                        <td>{{ journey.startLocation }}</td>
                        <td>{{ journey.finishLocation }}</td>
                        <td>{{ journey.personLimit }}</td>
                        <td>{{ journey.personLimit - journey.getParticipants|length }}</td>
                        <td>{{ journey.contribution }}</td>
                        <td>
                            <ul class="table-actions">
                                <li class="table-actions__item"><a href="{{ url('my_journey_details', {id: journey.id}) }}" title="Details"><i class="fa fa-eye"></i></a></li>
                                <li class="table-actions__item"><a href="{{ url('journey_remove_user', {id: journey.id}) }}" title="Resign!"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>