<div class="col-sm-12 mb-3">
    <div class="card">
        <div class="card-body">
            <h2>My Journeys</h2>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Description</th>
                    <th scope="col">Departure</th>
                    <th scope="col">Arrival</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Person limit</th>
                    <th scope="col">Seats left</th>
                    <th scope="col">Contribution</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user_journey in user_journeys %}
                    <tr>
                        <th scope="row">{{ user_journey.id }}</th>
                        <td>{{ user_journey.description[:25] }}...</td>
                        <td style="width:20%">{{ user_journey.departureTime | date("Y-m-d H:i:s") }}</td>
                        <td style="width:20%">{{ user_journey.arrivalTime | date("Y-m-d H:i:s") }}</td>
                        <td>{{ user_journey.startLocation }}</td>
                        <td>{{ user_journey.finishLocation }}</td>
                        <td>{{ user_journey.personLimit }}</td>
                        <td>{{ user_journey.personLimit - user_journey.getParticipants|length }}</td>
                        <td>{{ user_journey.contribution }}</td>
                        <td>
                            <ul class="table-actions">
                                <li class="table-actions__item"><a href="{{ url('my_journey_details', {id: user_journey.id}) }}" title="Details"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>