<div class="card mb-3">
    <div class="card-body">
        <h6 class="d-flex align-items-center mb-3">USER INFORMATION</h6>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ app.user.username }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ app.user.email }}
            </div>
        </div>
        <hr>
    </div>
</div>