.breadcrumb{
  padding: 0;
  background-color: #fff;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  box-shadow: 0 -2px 5px -5px #333,
              0 2px 5px -5px #333;
  justify-content: center;
  .breadcrumb-item{
    padding: 0.75rem 0.25rem;
  }
}