/* Menu */
.logo{
  transition: 0.3s all ease;
  width: 150px;
}

.menu{
  justify-content: space-between;
  width: 100%;
  display: flex;
  .main-menu{
    i{
      margin: 0 0.5rem
    }
    .nav-link:first-child + .nav-link{
      border-left: 1px solid $cc-1;
    }
  }

  .menu-account{
    display: flex;
    align-items: center;
    font-size: $font-sm;
    font-weight: 600;
    border-left: 1px solid $cc-1;
    margin-left: .5rem;
    padding-left: 1rem;
    &-actions{
      display: flex;
      flex-direction: column;
      &__item{
      }
    }
  }
}