/* assets/styles/app.css */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "~@fortawesome/fontawesome-free/scss/v4-shims";
@import 'reset';
@import "variables/variables";
@import "components/header";
@import "components/breadcrumbs";

@import "pages/main";

// actions
.table-actions{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  &__item{
    margin: 0 5px;
  }
}


body{
  overflow-x: hidden;
}

a{
  color: $cc-1;
}

.fullwidth{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}