{% extends 'mail/base.html.twig' %}

{% block body %}
    <!-- // EMAIL HEADER -->

    <!-- EMAIL HEADER // -->
    <!--
        The table "emailBody" is the email's container.
        Its width can be set to 100% for a color band
        that spans the width of the page.
    -->
    <table bgcolor="#E1E1E1" border="0" cellpadding="0" cellspacing="0" width="500" id="emailHeader">

        <!-- HEADER ROW // -->
        <tr>
            <td align="center" valign="top">
                <!-- CENTERING TABLE // -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="center" valign="top">
                            <!-- FLEXIBLE CONTAINER // -->
                            <table border="0" cellpadding="10" cellspacing="0" width="500" class="flexibleContainer">
                                <tr>
                                    <td valign="top" width="500" class="flexibleContainerCell">

                                        <!-- CONTENT TABLE // -->
                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <!--
                                                    The "invisibleIntroduction" is the text used for short preview
                                                    of the email before the user opens it (50 characters max). Sometimes,
                                                    you do not want to show this message depending on your design but this
                                                    text is highly recommended.
                                                    You do not have to worry if it is hidden, the next <td> will automatically
                                                    center and apply to the width 100% and also shrink to 50% if the first <td>
                                                    is visible.
                                                -->
                                                <td align="left" valign="middle" id="invisibleIntroduction" class="flexibleContainerBox" style="display:none !important;">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%;">
                                                        <tr>
                                                            <td align="left" class="textContent">
                                                                <div style="font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#828282;text-align:center;line-height:120%;">
                                                                    Journey has been accepted
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td align="right" valign="middle" class="flexibleContainerBox">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%;">
                                                        <tr>
                                                            <td align="left" class="textContent">
                                                                <!-- CONTENT // -->
                                                                <div style="font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#828282;text-align:center;line-height:120%;">
                                                                    If you can't see this message <a href="#" target="_blank" style="text-decoration:none;border-bottom:1px solid #828282;color:#828282;"><span style="color:#828282;">View&nbsp;it&nbsp;in&nbsp;your&nbsp;browser</span></a>.
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- // FLEXIBLE CONTAINER -->
                        </td>
                    </tr>
                </table>
                <!-- // CENTERING TABLE -->
            </td>
        </tr>
        <!-- // END -->

    </table>
    <!-- // END -->


    <!-- EMAIL CONTAINER // -->
    <!--
        The table "emailBody" is the email's container.
        Its width can be set to 100% for a color band
        that spans the width of the page.
    -->
    <table bgcolor="#FFFFFF"  border="0" cellpadding="0" cellspacing="0" width="500" id="emailBody">


        <!-- MODULE ROW // -->
        <!--
            To move or duplicate any of the design patterns
            in this email, simply move or copy the entire
            MODULE ROW section for each content block.
        -->
        <tr>
            <td align="center" valign="top">
                <!-- CENTERING TABLE // -->
                <!--
                    The centering table keeps the content
                    tables centered in the emailBody table,
                    in case its width is set to 100%.
                -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color:#FFFFFF;" bgcolor="#3498db">
                    <tr>
                        <td align="center" valign="top">
                            <!-- FLEXIBLE CONTAINER // -->
                            <!--
                                The flexible container has a set width
                                that gets overridden by the media query.
                                Most content tables within can then be
                                given 100% widths.
                            -->
                            <table border="0" cellpadding="0" cellspacing="0" width="500" class="flexibleContainer">
                                <tr>
                                    <td align="center" valign="top" width="500" class="flexibleContainerCell">

                                        <!-- CONTENT TABLE // -->
                                        <!--
                                            The content table is the first element
                                            that's entirely separate from the structural
                                            framework of the email.
                                        -->
                                        <table border="0" cellpadding="30" cellspacing="0" width="100%">
                                            <tr>
                                                <td align="center" valign="top" class="textContent">
                                                    <h1 style="color:#FFFFFF;line-height:100%;font-family:Helvetica,Arial,sans-serif;font-size:35px;font-weight:normal;margin-bottom:5px;text-align:center;">Journey has started</h1>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- // CONTENT TABLE -->

                                    </td>
                                </tr>
                            </table>
                            <!-- // FLEXIBLE CONTAINER -->
                        </td>
                    </tr>
                </table>
                <!-- // CENTERING TABLE -->
            </td>
        </tr>
        <!-- // MODULE ROW -->

        <!-- MODULE ROW // -->
        <tr>
            <td align="center" valign="top">
                <!-- CENTERING TABLE // -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#F8F8F8">
                    <tr>
                        <td align="center" valign="top">
                            <!-- FLEXIBLE CONTAINER // -->
                            <table border="0" cellpadding="0" cellspacing="0" width="500" class="flexibleContainer">
                                <tr>
                                    <td align="center" valign="top" width="500" class="flexibleContainerCell">
                                        <table border="0" cellpadding="30" cellspacing="0" width="100%">
                                            <tr>
                                                <td align="center" valign="top">

                                                    <!-- CONTENT TABLE // -->
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td valign="top" class="textContent">
                                                                <div style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;">
                                                                    Welcome {{ participant.username }}</br>
                                                                    </br>
                                                                    Remember, journey owner has accepted all participants and journey will start
                                                                    </br>
                                                                    Start: {{ journey.departureTime | date("Y-m-d H:i:s") }}</br>
                                                                    End: {{ journey.arrivalTime | date("Y-m-d H:i:s") }}</br>
                                                                    </br>
                                                                    Start Location: {{ journey.startLocation }}</br>
                                                                    Finish Location: {{ journey.finishLocation }}</br>
                                                                    Contribution: {{ journey.contribution }}</br>
                                                                    </br>
                                                                    Remember to take money to pay {{ owner.username }}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- // CONTENT TABLE -->

                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- // FLEXIBLE CONTAINER -->
                        </td>
                    </tr>
                </table>
                <!-- // CENTERING TABLE -->
            </td>
        </tr>
        <!-- // MODULE ROW -->
    </table>
    <!-- // END -->
{% endblock %}