/* Banner 1 */
.banner1{
  position: relative;
  height: 20vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
      padding: 2rem;
      background-color: rgba(0, 0, 0, 0.3);
      text-align: center;
      h1 {
        font-weight: 600;
        font-size: 2rem;
        color: #fff;
      }
    }
  }
}
