<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="{{ getControllerName() }}">
        <header class="header">
            {% include("menu.html.twig") %}
        </header>
        <main class="wrapper">
            <div class="container">
                <nav aria-label="breadcrumb">
                    {{ asprega_breadcrumb() }}
                </nav>
            {% include("flash.html.twig") %}
            {% block body %}{% endblock body %}
            </div>
        </main>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
