<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for item in items %}
            {% if item.url %}
                <li class="breadcrumb-item">
                    <a href="{{ item.url }}">{{ item.translatedLabel }}</a>
                </li>
            {% else %}
                <li class="breadcrumb-item" aria-current="page">{{ item.translatedLabel }}</li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>