<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img id="logo" class="logo img-fluid" src="{{ asset('build/logo.png') }}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menu" class="menu">

            {# Link for actions #}
            <ul class="navbar-nav main-menu">
                <li class="nav-link"><a href="{{ url("journey_index") }}"><i class="fa fa-search"></i>Search for journeys</a></li>
                {% if app.user %}
                    <li class="nav-link"><a href="{{ url("my_journey_index") }}">My created Journeys</a></li>
                    <li class="nav-link"><a href="{{ url("my_journey_add") }}"><i class="fa fa-plus"></i>Add new</a></li>
                {% endif %}
            </ul>

            {# Account #}
            <ul class="navbar-nav menu-account">
                <li class="menu-login">
                    <div class="menu-account-actions">
                        {% if app.user %}
                        <a class="menu-account-actions__item" href="{{ path('account_index') }}">Account - {{ app.user.username }}</a>
                        <a class="menu-account-actions__item" href="{{ path('app_logout') }}">Logout</a>
                        {% else %}
                        <a class="menu-account-actions__item" href="{{ path('app_login') }}">Login</a>
                        <a class="menu-account-actions__item" href="{{ path('app_register') }}">Register</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>