{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {{ journey.description }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <h2>Data</h2>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Departure Time</th>
                            <td>{{ journey.departureTime | date("Y-m-d H:i:s") }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Arrival Time</th>
                            <td>{{ journey.arrivalTime | date("Y-m-d H:i:s") }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Person limit</th>
                            <td>{{ journey.personLimit }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Start location</th>
                            <td>{{ journey.startLocation }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Finish location</th>
                            <td>{{ journey.finishLocation }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Contribution</th>
                            <td>{{ journey.contribution }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2>Participants</h2>
                    <ul class="list-group list-group-flush">
                        {% for participant in journey.participants %}
                        <li class="list-group-item">{{ participant.username }} - {{ participant.email }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}