{% extends 'base.html.twig' %}

{% block title %}My journeys!{% endblock %}

{% block body %}

    {% if journeys %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Departure</th>
            <th scope="col">Arrival</th>
            <th scope="col">Person limit</th>
            <th scope="col">Starting</th>
            <th scope="col">Finish</th>
            <th scope="col">Seats left</th>
            <th scope="col">Contribution</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for journey in journeys %}
            <tr>
                <th scope="row">{{ journey.id }}</th>
                <td>{{ journey.description }}</td>
                <td>{{ journey.departureTime | date("Y-m-d H:i:s")}}</td>
                <td>{{ journey.arrivalTime | date("Y-m-d H:i:s")}}</td>
                <td>{{ journey.personLimit }}</td>
                <td>{{ journey.startLocation }}</td>
                <td>{{ journey.finishLocation }}</td>
                <td>{{ journey.personLimit - journey.getParticipants|length}}</td>
                <td>{{ journey.contribution }}</td>
                <td style="white-space: nowrap;">
                    {% if journey.status == 'full' %}
                        {{ journey.status }} | <a href="{{ url('my_journey_change_status', {"id": journey.id}) }}"><i class="fa fa-chevron-right"></i></a>
                    {% else %}
                        {{ journey.status }}
                    {% endif %}
                </td>
                <td>
                    <ul class="table-actions">
                        <li class="table-actions__item"><a href="{{ url('my_journey_details', {"id": journey.id}) }}"><i class="fa fa-eye"></i></a></li>
                        {% if journey.participants|length == 0 %}
                        <li class="table-actions__item"><a href="{{ url('my_journey_edit', {"id": journey.id}) }}"><i class="fa fa-pencil"></i></a></li>
                        {% endif %}
                        <li class="table-actions__item"><a href="{{ url('my_journey_delete', {"id": journey.id}) }}"><i class="fa fa-trash"></i></a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        {% include 'errors/notfound.html.twig' with {'message': 'Journeys not found'} %}
    {% endif %}

{% endblock %}
