{% extends 'base.html.twig' %}

{% block title %}Journeys!{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Owner</th>
            <th scope="col">Description</th>
            <th scope="col">Departure</th>
            <th scope="col">Arrival</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Person limit</th>
            <th scope="col">Seats left</th>
            <th scope="col">Status</th>
            <th scope="col">Contribution</th>

            {% if app.user %}
            <th scope="col">Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for journey in journeys %}
            <tr>
                <th scope="row">{{ journey.id }}</th>
                <td>{{ journey.owner.username }}</td>
                <td>{{ journey.description }}</td>
                <td>{{ journey.departureTime | date("Y-m-d H:i:s")}}</td>
                <td>{{ journey.arrivalTime | date("Y-m-d H:i:s")}}</td>
                <td>{{ journey.startLocation }}</td>
                <td>{{ journey.finishLocation }}</td>
                <td>{{ journey.personLimit }}</td>
                <td>{{ journey.personLimit - journey.getParticipants|length}}</td>
                <td>{{ journey.status }}</td>
                <td>{{ journey.contribution }}</td>

                {% if app.user %}
                <td>
                    <ul class="table-actions">
                        {% set participants_array = [] %}
                        {% for participant in journey.participants %}
                            {% set participants_array = participants_array|merge([participant.id]) %}
                        {% endfor %}

                        {% if app.user.id not in participants_array and journey.status == 'building' %}
                        <li class="table-actions__item"><a href="{{ url('journey_assign_user', {id: journey.id}) }}" title="Sign in!"><i class="fa fa-sign-in"></i></a></li>
                        {% endif %}
                        {% if app.user.id in participants_array %}
                        <li class="table-actions__item"><a href="{{ url('journey_remove_user', {id: journey.id}) }}" title="Sign in!"><i class="fa fa-skull-crossbones"></i></a></li>
                        {% endif %}
                    </ul>
                </td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
